@font-face {
    font-family: 'XPTahoma';
    src: url(/fonts/fs-tahoma-8px.ttf) format('truetype');
}

@font-face {
    font-family: 'Theano-Didot';
    src: url(/fonts/TheanoDidot-Regular.ttf) format('truetype');
}