body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: blanchedalmond;
}

.page-concept {
  text-align: center;
  font-family: 'XPTahoma', sans-serif;
  font-size: 2.5em;
  padding: 0;
  margin: 0;
}

.instruct {
  text-align: center;
  font-family: 'XPTahoma', sans-serif;
  font-size: 1.2em;
  padding: 0;
  margin: 0;

}

#browser1 {
  background-color: beige;
  font-family: 'Theano-Didot', serif;
}

.icon-link {
  text-decoration: none;
  text-align: center;
  position: absolute;
  bottom: 70px;
  left: 30px;
  font-family: 'XPTahoma', sans-serif;
  font-size: 1.5em;
  padding: 10px;
  color: white;
}

#variable-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.icon-link:hover,
.icon-link:hover #variable-icon {
  color: white;
  border: 2px solid white;
  border-radius: 0.5em;
}

.computer {
  width: 1800px;
  height: 720px;
  background-color: #0e3768;
  margin: 50px auto;
  position: relative;
  border-radius: 20px;
  border-width: 10px 10px 50px 10px;
  border-style: solid;
  border-color: #333;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  animation: computer-slide 1s ease-in-out forwards;
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: 'XPTahoma', sans-serif;
  font-size: 20px;
}

.start-menu {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
}

.taskbar-icons,
.system-tray {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  cursor: pointer;
}

.menu-text {
  margin-left: 5px;
}

.screen {
  position: absolute;
  top: 50px;
  left: 500px;
  width: 800px;
  height: 550px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: screen-fade 1s ease-in-out forwards;
  cursor: pointer;
  padding-bottom: 10px;
  z-index: 1;
}

@keyframes computer-slide {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes screen-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.address-bar {
  height: 50px;
  background-color: #137bab;
  display: flex;
  color: white;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}

.address-bar input[type="text"] {
  flex: 1;
  background-color: #137bab;
  height: 100%;
  border: none;
  outline: none;
  color: white;
  font-size: 30px;
  font-family: 'XPTahoma', sans-serif;
  padding: 0 10px;
}

.browser-content {
  height: calc(100% - 40px);
  overflow: scroll;
  padding: 10px;
  animation: content-fade 1s ease-in-out forwards;
}

@keyframes content-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.browser-content p {
  margin: 0;
  line-height: 1.6;
  color: #333;
}

.screen:nth-child(2) {
  left: 900px;
}

.dragging {
  z-index: 9999;
}

.newspaper-layout {
  width: 100%;
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.newspaper-layout p {
  margin: 0;
}

.title {
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  border-bottom: 2px solid #000;
  padding-bottom: 0.2em;
  margin-bottom: 1em;
}

.headline {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.5em;
}

.subheadline {
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
  text-align: center;
  margin-bottom: 0.5em;
}

.column-piece {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 0.8em;
}

.references {
  width: auto;
  z-index: -1;
}


.game-container {
  max-width: 600px;
  margin: 0 auto;
}

.question {
  margin-bottom: 20px;
}

.answer {
  display: block;
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.answer:hover {
  background-color: #666;
}